@use '../base/colors' as c;

.contact__link {
    background-color: c.$c-2;
    padding: 10px;
    border-radius: 5px 5px 0 0;
    font-size: 14px;
    color: c.$c-font;
    display: block;

    &:hover {
        color: c.$c-font-sec;
    }
}

.contact__content {
    border: 0.7px solid c.$c-font-sec;
    border-radius: 5px;
    margin-bottom: 10px;
}
.contact__content p {
    padding: 10px;   
}

/*@media screen and (min-width: 900px) {
    .contact {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        grid-template-rows: auto 1fr;
        gap: 20px;
    }

}*/

.contact {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    gap: 10px;
}

.arrow {
    width: 1.25rem;
    height: 1.25rem;
    display: inline-block;
    position: relative;
    margin: 0 1rem;
}
  
.arrow arrow-line{
    top: 1rem;
    position: absolute;
    width: .75rem;
    height: .1rem;
    border-radius: 8px;
    background: c.$c-font;
    display: inline-block;
    transition: all .2s ease;

    &:right {
    left: 0;
    transform: rotate(45deg);
    }
    &:left {
    right: 0;
    transform: rotate(-45deg);
    }
}
.web,
.app,
.help {
    display: none;
}

.web__checkbox {
    opacity: 0;
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    justify-self: start;
    z-index: 2;
    width: 200px;

    &:checked ~ .web {
        display: block;
        grid-column: 1 / -1;
        grid-row: 2 / 3;
    }
    &:checked ~ .arrow span:first-of-type {
        left: 0;
        transform: rotate(45deg);
    }
    &:checked ~ .arrow span:last-of-type {
        left: 0;
        transform: rotate(-45deg);
    }
}

.app__checkbox {
    opacity: 0;
    grid-column: 1 / -1;
    grid-row: 3 / 4;
    justify-self: start;
    z-index: 2;
    width: 200px;

    &:checked ~ .app {
        display: block;
        grid-column: 1 / -1;
        grid-row: 4 / 5;
    }
}
.help__checkbox {
    opacity: 0;
    grid-column: 1 / -1;
    grid-row: 5 / 6;
    justify-self: start;
    z-index: 2;
    width: 200px;

    &:checked ~ .help {
        display: block;
        grid-column: 1 / -1;
        grid-row: 6 / 7;
    }
}

.btn-web {
    background-color: c.$c-2;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
    font-size: 14px;
    text-decoration: none;
    color: c.$c-font; 
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    z-index: 1;
}
.btn-app {
    background-color: c.$c-2;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
    font-size: 14px;
    text-decoration: none;
    color: c.$c-font; 
    grid-column: 1 / -1;
    grid-row: 3 / 4;
    z-index: 1;
}
.btn-help {
    background-color: c.$c-2;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
    font-size: 14px;
    text-decoration: none;
    color: c.$c-font; 
    grid-column: 1 / -1;
    grid-row: 5 / 6;
    z-index: 1;
}
