@use '../base/colors' as c;

.contact__link {
    background-color: c.$c-2;
    padding: 10px;
    border-radius: 5px 5px 0 0;
    font-size: 14px;
    color: c.$c-font;
    display: block;
}

.contact__content {
    border: 0.7px solid c.$c-font-sec;
    border-radius: 5px;
    margin-bottom: 10px;
}
.contact__content p {
    padding: 10px;   
}