<div class="box">
    <div class="not-found"></div>
    <p class="container">Na toto téma zatím nebyl napsaný žádný článek.</p>

<div class="back">
    <a href="/clanky/" class="back__btn">Zpět</a>
</div>
</div> 