---
layout: layouts/articles.njk
title: Duševní zdraví
---

{% if collections.zdravi.length %}

{% for prispevek in collections.zdravi | reverse %}

<div class="article--wrapp">
    <a href="{{ prispevek.url }}" class="article__link">
        <img src="/images/{{ prispevek.data.img }}" class="article__img--wrap" alt="{{ prispevek.data.alt }}">
        <div class="article__content--wrap">
            <h2 class="article__heading--wrapp"> {{ prispevek.data.title }} </h2>
            <p class="article__perex"> {{ prispevek.data.perex }}... </p>
            <div class="article__more">
                <a href="{{ prispevek.url }}" class="article__more">Pokračovat ve čtení</a>
            </div>
        </div>
    </a> 
</div>

{% endfor %}

{% else %}

    {% include 'partials/not-found.njk' %}	

{% endif %}